<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Route</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <p>Edit your chat: <%= chat._id %></p>
    <p>
        This chat was sent from <%= chat.from %> to <%= chat.to %>
    </p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
        <textarea name="msg" rows="8" cols="40"><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>